bitarray==3.8.0
bitstring==4.4.0
cffi==2.0.0
click==8.3.1
cryptography==46.0.6
esptool==5.2.0
freetype-py==2.5.1
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
mpremote==1.27.0
platformdirs==4.9.4
pycparser==3.0
Pygments==2.20.0
pyserial==3.5
PyYAML==6.0.3
reedsolo==1.7.0
rich==14.3.3
rich-click==1.9.7
tibs==0.5.7
